//colors
$white: #FFFFFF;
$transpWhite: #ffffff3e;
$background: #29626b;
$pink: #aa4b6b;
$projects: #000000;
$primary: #FF3C7E;
$secondary: #784BA0;
$terciary: #2B86C5;

//breakpoints
$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$height: calc(100vh - 80px);

//fonts
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
$font-primary: 'Epilogue';
$font-secondary: 'Oxygen';
$font-fallback: 'sans-serif';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	box-sizing: border-box;
	text-align: center;
	background-color: cadetblue;
	display: flex;
	justify-content: center;
	background-color: $background;


	.container {
		max-width: 1440px;
		min-width: 80vw;
		
		header {
			background-color: $transpWhite;
			height: 80px;
			display: flex;
			align-items: center;
			padding-left: 50px;
			.blur {
				backdrop-filter: blur(10px);
				-webkit-backdrop-filter: blur(10px);
			}
			.logoNav {
				display: flex;
				//background-color: #aa4b6b;
				align-items: center;
				color: $white;
				img {
					height: 45px;
					margin-right: 10px;
				}
				h2 {
					font-family: $font-primary, $font-fallback;
					font-size: 1.35em;
					letter-spacing: .09rem;
				}
			}
			nav {
				ul {
					display: flex;
					list-style-type: none;
					li {
						margin: 0 30px;
							a {
							text-decoration: none;
							font-family: 'Oxygen', sans-serif;
							font-weight: 400;
							letter-spacing: .08rem;
							color: $white;
							}
					}
				}
			}
		}
		main {
			.hero {
				min-height: $height;
				display: flex;
				justify-content: space-between;
				.heroTxt{
					color: $white;
					width: 60%;
					text-align: left;
					padding: 0 50px;
					h1 {
						font-size: 64px;
						margin-bottom: 20px;
						font-family: 'Epilogue', sans-serif;
						font-weight: 700;
						letter-spacing: .1rem;
					}
					p {
						font-size: 24px;
						font-family: 'Oxygen', sans-serif;
						font-weight: 300;
						letter-spacing: .15rem;
					}
				}
				.heroImg {
					width: 670px;
					transition: all 1s;
					height: $height;
					//transform: translateX(-20%);
					.mask {
						object-fit: fill;
						overflow: hidden;
						height: $height;
					}
					/* &:before {
						content: "";
						height:20px;
						position: absolute;
						right: 10px;
						width: 670px;
						background-color: red;
						transition: all 1s;
						transform: translateX(-100%);
						
					} */
					/* &::after {
						content: "";
						transform: translateX(100%);
					} */
					img {
						height: calc($height * 1.4);
						transform: translateX(1%) translateY(-5%);
						transition: all 1s;
						border-radius: 50%;
						opacity: 75%;	
						&:hover {
							transform: translateY(-4.7%);
							//transform: translateY(-1%);
							opacity: 60%;
							transition: all 2s;
						}
					}


				}
			}
			.projects {
				background-color: $projects;
				color: $white;
				min-height: 100vh;
				padding: 80px 100px 100px 100px;
			@media screen and (max-width: $breakpoint-phone) {
				height: auto;
			}

				h3 {
					padding: 0;
					font-size: 3em;
					margin: 0 0 40px 0;
					font-family: $font-secondary, $font-fallback;
					letter-spacing: .2em;
				}

				.showProjects {
					//1background-color: #aa4b6b;
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
					//grid-auto-rows: auto; para definir o tamanho das implicit rows
					grid-gap: 20px;
					@media screen and (max-width: $breakpoint-tablet) {
						grid-template-columns: 1fr 1fr;
					}
					@media screen and (max-width: $breakpoint-phone) {
						grid-template-columns: 1fr;
						padding: 0 20px;
					}
					.card {
						position: relative;
						display: block;
						height: 100%;
						overflow: hidden;
						border-radius: 20px;
						@media screen and (max-width: $breakpoint-phone) {
							width: 90%;
							margin: 0 auto; 
						}
						&:hover {
							.cardOverlay {
								transform: translateY(0);
							}
							.cardHeader {
								transform: translateY(0);
							}
							.cardDescription {
								opacity: 1;
							}
							img {
								filter: none;
							}
						}
						
						.cardOverlay {
							background-color: $white;
							color: #000;
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							transform: translateY(60%);
							border-radius: 20px 0 20px 20px;
							z-index: 1;
							transition: .2s ease-in-out;
							height: 40%;
							
							.cardArc {
								width: 80px;
								height: 80px;
								position: absolute;
								bottom: 100%;
								right: 0;
								z-index: 1;							
								path {
									fill: $white;
									d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
								}
							}
							.cardHeader {
								position: relative;
								//transform: translateY(-100%);
								border-radius: 25px;
								font-family: $font-secondary, $font-fallback;
								font-weight: bold;
								letter-spacing: .05em;
								transition: .2s ease-in-out;
							}

							.cardDescription {
								overflow: hidden;
								opacity: 0;
								font-size: .9rem;
								font-family: $font-secondary, $font-fallback;
							}
						}
						img {
							width: 100%;
							height: auto;
							filter: grayscale(90%);
							transition: .5s;
							border-radius: 20px;
							
						}
					}
				}
			}
			.about {
				//height: content;
				padding: 30px;
				h3 {
					font-family: $font-primary, $font-fallback;
				}
				p {
					font-family: $font-secondary, $font-fallback;
				}
			}
		}
	}
}

.bg {
	background-color: $primary;
	background: linear-gradient(225deg, $primary 0%, $secondary 50%, $terciary 100%);
	animation: gradient 2s ease infinite;
}

//button animation
.button {
	display: inline-block;
	padding: 20px 80px;
	background-color: $transpWhite;
	border-radius: 4px;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	font-size: 19px;
	z-index: 1;
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%) scaleY(1) scaleX(1.25);
		top: 100%;
		width: 140%;
		height: 180%;
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 50%;
		display: block;
		transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
		z-index: -1;
	}
	&:after {
		content: "";
		position: absolute;
		left: 55%;
		transform: translateX(-50%) scaleY(1) scaleX(1.45);
		top: 180%;
		width: 160%;
		height: 190%;
		background-color: $terciary;
		border-radius: 50%;
		display: block;
		transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
		z-index: -1;
	}
	&:hover {
		color: #ffffff;
		&:before {
			top: -35%;
			background-color: $terciary;
			transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
		}
		&:after {
			top: -45%;
			background-color: $terciary;
			transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
		}
	}
}