//colors
$white: #FFFFFF;
$transpWhite: #ffffff3e;
$background: #29626b;
$pink: #aa4b6b;
$projects: #000000;
$primary: #FF3C7E;
$secondary: #784BA0;
$terciary: #2B86C5;

//breakpoints
$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	box-sizing: border-box;
	text-align: center;
	background-color: cadetblue;
	display: flex;
	justify-content: center;
	background-color: $background;


	.container {
		max-width: 1440px;
		
		header {
			background-color: $transpWhite;
			height: 80px;
			display: flex;
			align-items: center;
			padding-left: 50px;
			.blur {
				backdrop-filter: blur(10px);
				-webkit-backdrop-filter: blur(10px);
			}
			.logoNav {
				display: flex;
				//background-color: #aa4b6b;
				align-items: center;
				color: $white;
				img {
					height: 45px;
					margin-right: 10px;
				}
			}
			nav {
				ul {
					display: flex;
					list-style-type: none;
					li {
						margin: 0 30px;
							a {
							text-decoration: none;
							color: $white;
							}
					}
				}
			}
		}
		main {
			.hero {
				height: calc(100vh - 80px);
				display: flex;
				//justify-content: space-between;
				.heroTxt{
					color: $white;
					width: 60%;
					text-align: left;
					padding: 0 50px;
					h1 {
						font-size: 64px;
						margin-bottom: 20px;
					}
					p {
						font-size: 24px;
					}
				}
				.heroImg {
					width: 670px;
					img {
						width: 100%;
					}
				}
			}
			.projects {
				background-color: $projects;
				color: $white;
				height: 100vh;
				padding: 50px 200px;
			@media screen and (max-width: $breakpoint-phone) {
				height: auto;
			}

				h3 {
					padding: 50px;
					font-size: 3em;
					margin: 0;
				}

				.showProjects {
					//1background-color: #aa4b6b;
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					//grid-auto-rows: auto; para definir o tamanho das implicit rows
					grid-gap: 20px;
					@media screen and (max-width: $breakpoint-tablet) {
						grid-template-columns: 1fr 1fr;
					}
					@media screen and (max-width: $breakpoint-phone) {
						grid-template-columns: 1fr;
						padding: 0 20px;
					}
					.card {
						position: relative;
						display: block;
						height: 100%;
						overflow: hidden;
						@media screen and (max-width: $breakpoint-phone) {
							width: 90%;
							margin: 0 auto; 
						}
						&:hover {
							.cardOverlay {
								transform: translateY(0);
							}
							.cardHeader {
								transform: translateY(0);
							}
						}
						
						.cardOverlay {
							background-color: $white;
							color: #000;
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							transform: translateY(70%);
							border-radius: 20px 0 0 0;
							z-index: 1;
							transition: .2s ease-in-out;
							height: 50%;
							
							.cardArc {
								width: 80px;
								height: 80px;
								position: absolute;
								bottom: 100%;
								right: 0;
								z-index: 1;							
								path {
									fill: $white;
									d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
								}
							}
							.cardHeader {
								position: relative;
								transform: translateY(-100%);
								border-radius: 25px;
								transition: .2s ease-in-out;
							}

							.cardDescription {
								overflow: hidden;
							}
						}
						img {
							width: 100%;
							height: auto;
							filter: grayscale(70%);
							transition: .5s;
							&:hover {
								filter: none;
							}
						}
					}
				}
			}
		}
	}
}

.bg {
	background-color: $primary;
	background: linear-gradient(225deg, $primary 0%, $secondary 50%, $terciary 100%);
	animation: gradient 2s ease infinite;
}

//button animation
.button {
	display: inline-block;
	padding: 20px 80px;
	background-color: $transpWhite;
	border-radius: 4px;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	font-size: 19px;
	z-index: 1;
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%) scaleY(1) scaleX(1.25);
		top: 100%;
		width: 140%;
		height: 180%;
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 50%;
		display: block;
		transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
		z-index: -1;
	}
	&:after {
		content: "";
		position: absolute;
		left: 55%;
		transform: translateX(-50%) scaleY(1) scaleX(1.45);
		top: 180%;
		width: 160%;
		height: 190%;
		background-color: $terciary;
		border-radius: 50%;
		display: block;
		transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
		z-index: -1;
	}
	&:hover {
		color: #ffffff;
		&:before {
			top: -35%;
			background-color: $terciary;
			transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
		}
		&:after {
			top: -45%;
			background-color: $terciary;
			transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
		}
	}
}